In [1]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

In [2]:
# Activating the chrome browser
driver = webdriver.Chrome('chromedriver')

In [3]:
# Opening the homepage of Amazon.in
driver.get('https://www.amazon.in/')
# Asking the user to input the keywords he/she wants to search
user_inp = input('Enter the product you want to search : ')

Enter the product you want to search : phones

In [4]:
search_bar = driver.find_element_by_id("twotabsearchtextbox")    # Locating searc_bar by id
search_bar.clear()                                               # clearing search_bar
search_bar.send_keys(user_inp)                                   # sending user input to search bar
search_button = driver.find_element_by_xpath('//div[@class="nav-search-submit nav-sprite"]/span/input')       # Locating search_button by xpath
search_button.click()

In [5]:
#create an empty list 
Ratings=[]
Reviews=[]

In [10]:
urls=driver.find_elements_by_xpath("//a[@class='a-link-normal s-link-style a-text-normal']")
UR=[]
for i in urls:
    UR.append(i.get_attribute('href'))
for url in UR:
    driver.get(url)
    try:
        rate=driver.find_element_by_xpath("//div[@class='a-section a-spacing-none a-spacing-top-micro']")
        rate.click()
        rating=driver.find_element_by_xpath("//i[@class='a-icon a-icon-star a-star-4 review-rating']")
        Ratings.append(rating.text)
        review=driver.find_element_by_xpath("//a[@class='a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold']")
        Reviews.append(review.text)
    except NoSuchElementException   as e:
        Ratings.append("NO rating")
        Reviews.append("NO rating")

In [11]:
#checking the length of each list
print(len(Ratings))
print(len(Reviews))

22
22

In [12]:
import pandas as pd
amazon=pd.DataFrame({})
amazon['Ratings']=Ratings[0:60]
amazon['Reviews']=Reviews[0:60]

In [13]:
amazon

      Ratings    Reviews
0   NO rating  NO rating
1   NO rating  NO rating
2   NO rating  NO rating
3   NO rating  NO rating
4   NO rating  NO rating
5   NO rating  NO rating
6   NO rating  NO rating
7   NO rating  NO rating
8   NO rating  NO rating
9   NO rating  NO rating
10  NO rating  NO rating
11  NO rating  NO rating
12  NO rating  NO rating
13  NO rating  NO rating
14  NO rating  NO rating
15  NO rating  NO rating
16  NO rating  NO rating
17  NO rating  NO rating
18  NO rating  NO rating
19  NO rating  NO rating
20  NO rating  NO rating
21  NO rating  NO rating

In [14]:
amazon.to_csv('amazon_ratings_reviews2.csv', index = False)